---
import Layout from "../../layouts/layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("thoughts");
---

<Layout>
    <h1>thoughts</h1>
    <div class="flex flex-col gap-4">
        {
            posts
                .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())
                .map((post) => (
                    <div class="border p-4 rounded">
                        <a href={`/thoughts/${post.slug}`} class="flex justify-between md:gap-16 min-w-full">
                            <span class="text-xl font-bold">{post.data.title}</span>
                            <span class="text-right">{
                                post.data.date.toLocaleString("en-us", {
                                    month: "long",
                                    day: "numeric",
                                    year: "numeric"
                                })
                            }</span>
                        </a>
                    </div>
                ))
        }
    </div>
</Layout>
