---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

export function getStaticPaths() {
    return [
        { params: { collection: "bay-area" } },
        { params: { collection: "ksp" } },
        { params: { collection: "high-school" } },
        { params: { collection: "silly" } },
    ]
}

const title = {
    "bay-area": "bay area photos",
    "ksp": "kerbal space program photos",
    "high-school": "high school portfolio",
    "silly": "¯\\_(ツ)_/¯"
};

const { collection } = Astro.params;
const glob = import.meta.glob("../../images/**/*.jpg");
const images = Object.keys(glob)
    .filter((path) => path.includes(collection))
    .map((key) => glob[key]);
---

<Layout>
    <h1>{title[collection]}</h1>
    { images.map((image) => <Image src={image()} alt="" />) }
</Layout>

