---
import Layout from "../../layouts/Layout.astro";
import ImageLinks from "../../components/ImageLinks.astro";

import biker from "../../images/bay-area/biker.jpg";
import fish from "../../images/high-school/fish.jpg";
import mayari from "../../images/ksp/mayari.jpg";
import lion from "../../images/silly/sea-lion.jpg";
---

<Layout>
    <h1>photos</h1>
    <ImageLinks
        data={[
            {
                image: biker,
                alt: "a man stand next to his bicycle",
                href: "/photos/bay-area",
                name: "bay area photos",
                loading: "eager",
            },
            {
                image: mayari,
                alt: "a interplanetary transfer vehicle parked in low kebrin orbit",
                href: "/photos/ksp",
                name: "kerbal space program",
                loading: "eager",
            },
            {
                image: fish,
                alt: "a koi fish pops its head above water",
                href: "/photos/high-school",
                name: "high school portfolio",
                loading: "eager",
            },
            {
                image: lion,
                alt: "a very happy sea lion!!",
                href: "/photos/silly",
                name: "silly photos bc why not!",
                loading: "eager",
            },
        ]}
    />
</Layout>
