.cells {
    margin-block: 1rem;
}

.cells .cell-row {
    display: flex;
}

.cells .cell-row .cell {
    flex-grow: 1;
    margin: 0.5px;
    aspect-ratio: 1/1;
    border-radius: 4px;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.cells .cell-row .select {
    transform: scale(0.9);
}

.cells .cell-row .alive {
    background-color: #333333;
}

.cells .cell-row .dead {
    background-color: #f2f2f2;
}

#eca .color-1 {
    background-color: #eb4768;
}

#eca .color-2 {
    background-color: #eba147;
}

#eca .color-4 {
    background-color: #baeb47;
}

#eca .color-8 {
    background-color: #47eb50;
}

#eca .color-16 {
    background-color: #47ebca;
}

#eca .color-32 {
    background-color: #4791eb;
}

#eca .color-64 {
    background-color: #7847eb;
}

#eca .color-128 {
    background-color: #eb47e2;
}