---
import Layout from "../layouts/layout.astro";
---

<Layout>
    <h2 class="text-2xl font-bold">Hello! ¡Hola! Kumusta!</h2>
    <p>
        I'm Sebastian, or Seabass, currently an undergraduate student at UC Berkeley studying
        aerospace engineering and astrophyiscs! I love learning about the stories and complexity of
        this world. I'm most known for my passion of space and my dream of becoming an astronaut,
        but I hold a curiosity for everything that comes!
    </p>
</Layout>
