---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import me from "../images/silly/water.jpg";
---

<Layout>
    <h1>hello! ¡hola! kumusta!</h1>
    <p>
        I'm Sebastian, or Seabass, currently an undergraduate student at UC Berkeley studying
        aerospace engineering and astrophyiscs! I love learning about the stories and complexity of
        this world. I'm most known for my passion of space and my dream of becoming an astronaut,
        but I hold a curiosity for everything that comes!
    </p>

    <Image src={me} alt="me underwater like the fish i am" loading="eager" />

    <h2>q&a</h2>
    <ul class="list-disc">
        <li><strong>what do you do?</strong> - learner of things and dreamer of dreams</li>
        <li><strong>why is this website so bad?</strong> - i coded it myself</li>
        <li><strong>meatball or worm?</strong> - i don't mind the worm, but the meatball is too iconic</li>
        <li><strong>what do you want to do in the future?</strong> - astronaut hopeful!</li>
    </ul>
</Layout>
