---
import { Image } from "astro:assets";
import Layout from "../layouts/layout.astro";
import Mayari from "../images/mayari.png";
---

<Layout>
    <h1 class="text-4xl font-bold">hello there!</h1>
    <p>i'm seabass and this is my website! learn more about me, the things i make, or what i'm interested in!</p>
    <Image src={Mayari} alt="The Mayari IPV preparing to depart Kerbin." loading="eager" />
</Layout>


