---
import Layout from "../../../layouts/Layout.astro";
import ImageLinks from "../../../components/ImageLinks.astro";
import { getPhotos } from "../../../lib/photos";

export const titles = {
    "bay-area": "bay area photos",
    "ksp": "kerbal space program photos",
    "high-school": "high school portfolio",
    "silly": "¯\\_(ツ)_/¯",
};

export function getStaticPaths() {
    return Object.keys(titles).map((collection) => ({
        params: { collection },
    }));
}

const { collection } = Astro.params as { collection: keyof typeof titles };
const photos = getPhotos(collection);
const data = photos.map((photo) => ({
    image: photo.image,
    alt: photo.name,
    href: `/photos/${collection}/${photo.name}`,
}));
---

<Layout>
    <h1>{titles[collection]}</h1>
    <ImageLinks data={data} />
</Layout>
