<div
    id="moon"
    class="fixed bottom-8 right-8 p-4 rounded-full cursor-pointer hover:bg-lightish dark:hover:bg-darkish transition z-10"
>
    <svg
        class="w-8 fill-black dark:fill-white"
        viewBox="0 0 24.00 24.00"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <path
                d="M12 22C17.5228 22 22 17.5228 22 12C22 11.5373 21.3065 11.4608 21.0672 11.8568C19.9289 13.7406 17.8615 15 15.5 15C11.9101 15 9 12.0899 9 8.5C9 6.13845 10.2594 4.07105 12.1432 2.93276C12.5392 2.69347 12.4627 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            ></path></g
        >
    </svg>
</div>

<script>
    const moon = document.querySelector("#moon") as HTMLElement;
    const html = document.querySelector("html") as HTMLElement;
    window.dark = false;

    if (
        sessionStorage.getItem("theme") == "dark" ||
        (!sessionStorage.getItem("theme") &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
        html.classList.add("dark");
        window.dark = true;
    }

    moon.addEventListener("click", () => {
        if (sessionStorage.getItem("theme") == "dark") {
            html.classList.remove("dark");
            sessionStorage.setItem("theme", "light");
            window.dark = false;
        } else {
            html.classList.add("dark");
            sessionStorage.setItem("theme", "dark");
            window.dark = true;
        }
    });
</script>
