<footer class="mx-auto mb-8 p-4 flex flex-col items-center rounded-md">
    <pre class="font-extrabold font-mono">
/\__/\
(=o.o=)
|/--\|
(")-(")
    </pre>
    <p class="text-xl text-zinc-700 dark:text-zinc-300">
        thank you for visiting! <br />
        <a class="text-primary" href="https://github.com/esby-space/esby-space.github.io">view site source here</a>
    </p>
</footer>
