<footer class="flex flex-col items-center gap-4 p-4 border-t-4 border-t-violet-600">
    <pre
        class="font-extrabold w-min h-min font-mono">
/\__/\
(=o.o=) &lt;(thank you for visiting!)
|/--\|
(")-(")
    </pre>
    <a class="text-primary text-xl" href="https://github.com/esby-space/esby-space.github.io">view site source here</a>
</footer>
