<footer class="mx-auto mb-8 p-4 flex flex-col items-center rounded-md">
    <pre class="font-extrabold font-mono">
/\__/\
(=o.o=)
|/--\|
(")-(")
    </pre>
    <p class="text-xl text-darkish dark:text-lightish">
        thank you for visiting! <br />
        <a
            class="text-primary"
            href="https://github.com/esby-space/esby-space.github.io"
            >view site source here</a
        >
    </p>
    <svg
        class="fill-primary w-full max-w-[48rem]"
        width="276.31387mm"
        height="48.56496mm"
        viewBox="0 0 276.31387 48.56496"
        version="1.1"
        id="svg1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg"
    >
        <defs id="defs1"></defs>
        <g id="layer1" transform="translate(33.159521,-127.32945)">
            <path
                id="path18"
                style="stroke:#000000;stroke-width:0;stroke-dasharray:none;stroke-opacity:1"
                d="m 243.15436,151.10322 h -18.80867 l -14.30714,-5.35058 h -17.97099 l -21.20543,-4.06848 v 19.8608 l 21.20543,-4.06848 h 17.97099 l 14.30714,-5.35058 h 18.80867 z m -72.29223,-9.41906 h -35.65931 v 19.8608 h 35.65931 z m -35.66603,-0.0873 -17.41858,-5.95416 v 31.94378 l 17.41858,-5.95415 z m -17.41858,25.98962 -0.003,0.001 v -31.94582 l 0.003,0.001 v -0.0486 H -7.5988015 v 0 l -7.2248805,-8.26461 v 0.007 h -8.04292 v 9.92342 c -0.58913,-0.5242 -1.31258,-1.03572 -2.19884,-1.44022 -1.22685,-0.55996 -2.74172,-0.85736 -4.12791,-1.01182 -2.13573,-0.23798 -3.966169,-0.13746 -3.966169,-0.13746 v 10.62312 c 0,0 1.83044,0.10052 3.966169,-0.13746 1.38619,-0.15446 2.90106,-0.45135 4.12791,-1.0113 0.88646,-0.4046 1.61016,-0.91641 2.19935,-1.44074 v 6.18876 c -0.58919,-0.52433 -1.31289,-1.03614 -2.19935,-1.44073 -1.22685,-0.55996 -2.74172,-0.85685 -4.12791,-1.01131 -2.13573,-0.23798 -3.966169,-0.13746 -3.966169,-0.13746 v 10.62281 c 0,0 1.83044,0.10052 3.966169,-0.13746 1.38619,-0.15446 2.90106,-0.45186 4.12791,-1.01182 0.88653,-0.40463 1.610131,-0.91636 2.19935,-1.44074 v 6.18929 c -0.58922,-0.52438 -1.31282,-1.03612 -2.19935,-1.44074 -1.22685,-0.55996 -2.74172,-0.85685 -4.12791,-1.01131 -2.13573,-0.23798 -3.966169,-0.13746 -3.966169,-0.13746 v 10.62261 c 0,0 1.83044,0.10104 3.966169,-0.13694 1.38619,-0.15447 2.90106,-0.45187 4.12791,-1.01183 0.88667,-0.40469 1.6106,-0.91627 2.19987,-1.44074 v 9.92549 h 8.04292 v -0.007 l 7.2238505,-8.2529 v 0 H 117.77752 Z"
            ></path>
        </g>
    </svg>
</footer>
