---
import { Image } from "astro:assets";

type Post = {
    image: ImageMetadata,
    alt?: string,
    href?: string,
    name?: string,
    descpriton?: string,
    loading?: "lazy" | "eager",
}

type Gallery = Post[];
type Props = { data: Gallery };
const { data } = Astro.props;
---

<div class="grid gap-4 grid-cols-1 sm:grid-cols-2 not-prose">
    {
        data.map(({ image, alt, href, name, descpriton, loading }) => (
            <a href={href} class="text-lg hover:translate-y-[-0.5rem] transition">
                <Image src={image} alt={alt ?? null} class="object-cover aspect-[3/2] w-full" loading={loading ?? "lazy" } />
                <p><span class="font-bold">{name}</span> - {descpriton}</p>
            </a> 
        ))
    }
</div>
