---
import { Image } from "astro:assets";

type Link = {
    image: ImageMetadata | Promise<{ default: ImageMetadata }>;
    alt: string;
    href?: string;
    name?: string;
    descpriton?: string;
    loading?: "lazy" | "eager";
};

type Props = { data: Link[] };
const { data } = Astro.props;
---

<div class="grid grid-cols-1 sm:grid-cols-2 not-prose">
    {
        data.map(({ image, alt, href, name, descpriton, loading }) => (
            <a
                href={href}
                class="p-2 rounded-md text-lg hover:translate-y-[-0.5rem] hover:bg-lightish dark:hover:bg-darkish sm:odd:last:col-span-2 sm:odd:last:w-1/2 sm:odd:last:mx-auto transition"
            >
                <Image
                    src={image}
                    alt={alt}
                    class="object-cover aspect-[3/2] w-full rounded-md"
                    loading={loading ?? "lazy"}
                />
                <p>
                    {name && <span class="font-bold">{name}</span>}
                    {descpriton && " - " + descpriton}
                </p>
            </a>
        ))
    }
</div>
