<nav class="flex justify-evenly md:flex-col md:justify-normal flex-wrap gap-12 md:gap-4">
    {
        [
            ["home", "/"],
            ["about", "/about"],
            ["projects", "/projects"],
            ["photos", "/photos"],
            ["thoughts", "/thoughts"],
        ].map(([name, path]) => (
            <a href={path} class="text-3xl hover:translate-x-2 transition">
                {name}
            </a>
        ))
    }
</nav>
