<nav class="h-min flex flex-col md:sticky md:top-16">
    {
        [
            ["home", "/"],
            ["about", "/about"],
            ["projects", "/projects"],
            ["photos", "/photos"],
            ["thoughts", "/thoughts"],
        ].map(([name, path]) => (
            <a href={path} class="w-min p-2 rounded-md text-3xl hover:translate-x-2 hover:bg-lightish dark:hover:bg-darkish transition">
                {name}
            </a>
        ))
    }
</nav>
