<nav class="flex md:flex-col flex-wrap gap-4">
    {
        [
            ["home", "/"],
            ["about", "/about"],
            ["ksp", "/ksp"],
            ["projects", "/projects"],
            ["thoughts", "/thoughts"],
        ].map(([name, path]) => (
            <a href={path} class="text-2xl hover:translate-x-2 transition">
                {name}
            </a>
        ))
    }
</nav>

