#boid {
    color: white;
    overflow: hidden;
}

#boid-simulation {
    background-color: hsl(0, 0%, 5%);
}

#boid-side-container {
    display: flex;
    height: 100%;
    width: fit-content;
}

#boid-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    height: 100%;
    width: 54px;
    background-color: hsl(0, 0%, 10%);
}

#boid-navbar .material-icons {
    margin: 15px;
    color: white;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

#boid section {
    position: relative;
    z-index: 1;
    width: fit-content;
    padding-inline: 1rem;
    overflow: hidden scroll;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.15s ease-in-out;
    background-color: hsl(0, 0%, 10%);
}

#boid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
