#iss-map {
    aspect-ratio: 9/5;
    display: none;
    border-radius: 8px;
}

#position-button {
    display: none;
}

#iss-art {
    padding: 4px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

#iss-art img {
    animation: bounce 3s ease-in-out infinite;
}
