#paint canvas {
    margin-block: 1rem;
    width: 100%;
    aspect-ratio: 3/2;
    /* box-shadow: 0 0 16px var(--shadow-color); */
    /* border-radius: 8px; */
    outline: 1px solid var(--shadow-color);
    cursor: crosshair;
}

#paint #paint-buttons {
    margin-block: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

#paint #paint-colors {
    margin-block: 1rem;
    display: flex;
    justify-content: space-evenly;
}

#paint #paint-colors .paint-color {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0 0 8px var(--shadow-color);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

#paint #paint-colors .paint-color:hover {
    transform: scale(0.9);
}

#paint input[type=range] {
    margin-inline: 25%;
    width: 50%;
    border: none;
}

#paint input[type=color] {
    width: 48px;
    height: 48px;
    margin-inline: calc(50% - 24px);
    border: none;
    cursor: pointer;
}
