@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap");
:root {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 2rem;
  --primary-color: hsl(265, 100%, 50%);
  --shadow-color: hsl(0, 0%, 60%);
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  max-width: 50rem;
  margin: 2rem auto;
  height: 16rem;
  display: grid;
  place-items: center;
  background-color: var(--primary-color);
  color: white;
  border-radius: 16px;
  text-align: center;
}
header h1, header nav {
  margin: auto;
  max-width: max-content;
}
header a {
  font-size: x-large;
  color: white;
}

main {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 0 1rem;
}
main img, main iframe {
  width: 100%;
  max-width: 25rem;
  margin: 2rem auto;
  display: block;
  border-radius: 16px;
}

footer {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 0 1rem;
}
footer pre {
  line-height: 1.3rem;
  font-family: monospace;
  white-space: pre;
  background-color: #f6f8fa;
  border-radius: 16px;
}

a {
  position: relative;
  top: 0;
  text-decoration: none;
  transition: 0.15s ease-in-out;
  color: var(--primary-color);
}
a:hover {
  top: -3px;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0 4px var(--shadow-color);
  transition: all 0.15s ease-in-out;
}
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px var(--shadow-color);
}
button:active {
  transform: translateY(3px);
  box-shadow: 0 1px var(--shadow-color);
}

input[type=number],
input[type=text] {
  width: 100%;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 1rem;
  background-color: transparent;
}
input[type=number]:focus,
input[type=text]:focus {
  outline: none;
}

hr {
  border: 0.5px solid;
}

.card {
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  box-shadow: 0px 0px 18px var(--shadow-color);
  border-radius: 16px;
}

.image-grid {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
}
.image-grid img {
  margin: auto;
  aspect-ratio: 3/2;
  object-fit: cover;
}

#page-buttons {
  position: fixed;
  bottom: 36px;
  right: 36px;
  float: right;
}

#iss-art {
  padding: 5px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
#iss-art img {
  animation: bounce 3s ease-in-out infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
#iss-map {
  aspect-ratio: 9/5;
  border-radius: 16px;
  display: none;
}
#iss-map img {
  border-radius: 0px;
}

#position-button {
  display: none;
}

#eca .color-1 {
  background-color: #eb4768;
}
#eca .color-2 {
  background-color: #eba147;
}
#eca .color-4 {
  background-color: #baeb47;
}
#eca .color-8 {
  background-color: #47eb50;
}
#eca .color-16 {
  background-color: #47ebca;
}
#eca .color-32 {
  background-color: #4791eb;
}
#eca .color-64 {
  background-color: #7847eb;
}
#eca .color-128 {
  background-color: #eb47e2;
}
#eca #eca-input {
  max-width: 50rem;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
#eca #eca-input div {
  grid-area: 1/1/4/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0.5px 1px;
  text-align: center;
  color: white;
  border-radius: 16px;
  background-color: var(--primary-color);
  box-shadow: 0 4px var(--shadow-color);
}
#eca #eca-input div input {
  padding: 1px 1rem;
  color: white;
  border: none;
}

.cells {
  margin: 2rem auto;
}
.cells .alive {
  background-color: #333333;
}
.cells .dead {
  background-color: #e6e6e6;
}
.cells .cell-row {
  margin: 1px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1px;
}
.cells .cell-row .cell {
  flex-grow: 1;
  border-radius: 2px;
  display: block;
  aspect-ratio: 1/1;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.cells .cell-row .select {
  transform: scale(0.9);
}

/*# sourceMappingURL=style.css.map */
