@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap');

:root {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 2rem;
    --primary-color: hsl(265, 100%, 50%);
    --shadow-color: hsl(0, 0%, 60%);
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    max-width: 50rem;
    margin: 2rem auto;
    height: 16rem;
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
    color: white;
    border-radius: 16px;
    text-align: center;
    
    h1, nav {
        margin: auto;
        max-width: max-content;
    }

    a {
        font-size: x-large;
        color: white;
    }
}

main {
    max-width: 50rem;
    margin: 2rem auto;
    padding: 0 1rem;

    img, iframe {
        width: 100%;
        max-width: 25rem;
        margin: 2rem auto;
        display: block;
        border-radius: 16px;
    }
}

footer {
    max-width: 50rem;
    margin: 2rem auto;
    padding: 0 1rem;

    pre {
        line-height: 1.3rem;
        font-family: monospace;
        white-space: pre;
        background-color: #f6f8fa;
        border-radius: 16px;
    }
}

a {
    position: relative;
    top: 0;
    text-decoration: none;
    transition: 0.15s ease-in-out;
    color: var(--primary-color);

    &:hover {
        top: -3px;
    }
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0 4px var(--shadow-color);
    transition: all 0.15s ease-in-out;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px var(--shadow-color);
    }

    &:active {
        transform: translateY(3px);
        box-shadow: 0 1px var(--shadow-color);
    }
}

input[type="number"],
input[type="text"] {
    width: 100%;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 1rem;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

hr {
    border: 0.5px solid;
}

.card {
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    box-shadow: 0px 0px 18px var(--shadow-color);
    border-radius: 16px;
}

.image-grid {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1rem;

    img {
        margin: auto;
        aspect-ratio: 3 / 2;
        object-fit: cover;
    }
}

#page-buttons {
    position: fixed;
    bottom: 36px;
    right: 36px;
    float: right;
}

#iss-art {
    padding: 5px;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    img {
        animation: bounce 3s ease-in-out infinite;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
}

#iss-map {
    aspect-ratio: 9 / 5;
    border-radius: 16px;
    display: none;

    img {
        border-radius: 0px;
    }
}

#position-button {
    display: none;
}

#eca {    
    .color-1 {
        background-color: hsl(348, 80%, 60%);
    }
    
    .color-2 {
        background-color: hsl(393, 80%, 60%);
    }
    
    .color-4 {
        background-color: hsl(78, 80%, 60%);
    }
    
    .color-8 {
        background-color: hsl(123, 80%, 60%);
    }

    .color-16 {
        background-color: hsl(168, 80%, 60%);
    }
    
    .color-32 {
        background-color: hsl(213, 80%, 60%);
    }
   
    .color-64 {
        background-color: hsl(258, 80%, 60%);
    }
    
    .color-128 {
        background-color: hsl(303, 80%, 60%);
    }
    
    #eca-input {
        max-width: 50rem;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;

        div {
            grid-area: 1 / 1 / 4 / 3;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            padding: 0.5px 1px;
            text-align: center;
            color: white;
            border-radius: 16px;
            background-color: var(--primary-color);
            box-shadow: 0 4px var(--shadow-color);

            input {
                padding: 1px 1rem;
                color: white;
                border: none;
            }
        }
    }
}

.cells {
    margin: 2rem auto;

    .alive {
        background-color: hsl(0, 0%, 20%);
    }

    .dead {
        background-color: hsl(0, 0%, 90%);
    }

    .cell-row {
        margin: 1px auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1px;
        
        .cell {
            flex-grow: 1;
            border-radius: 2px;
            display: block;
            aspect-ratio: 1 / 1;
            cursor: pointer;
            transition: all 0.15s ease-in-out;
        }
        
        .select {
            transform: scale(0.9);
            // box-shadow: 0px 0px 0px 5px var(--primary-color);
        }
    }
}
